.side-bar button {
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  color: white;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.side-bar button.selected {
  background: #fc1503;
}

.side-bar button:hover {
  background-color: #fc1503;
}

.side-bar button:hover span {
  color: white;
}

.side-bar span:nth-child(1) {
  color: #fc1503;
  margin-right: 15px;
}

.side-bar button.selected span {
  color: white;
}

.side-bar button span:nth-child(2) {
  opacity: 0.8;
}

.side-bar button.selected span:nth-child(2) {
  opacity: 1;
}
